<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Success</title>
    <!-- Dodajte stilove ili linkove ka stilovima ako je potrebno -->
</head>
<body>
    <header>
        <!-- Možete dodati header sadržaj ako je potrebno -->
    </header>
    <div class="container">
        <div id="successMessage">
            <p>Vaša kupovina je uspešno obavljena, hvala!</p>
            <button id="returnToHomePage">Povratak na početnu stranicu</button>
        </div>
    </div>
    <script src="/js/scripts.js"></script>
</body>
</html>
